body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
  padding: 5px 15px 10px 10px;
  background: white;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  opacity: .8;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}